<div class="container-fluid">
    <div class="card bg-light text-dark">
        <div class="card-body">
          <h3 class="card-title" style="font-family: 'Oleo Script', cursive;">Timeline</h3>
          <!----><div class="timeline">
              <div class="container left">
                  <div class="contenttype">
                    <h2>April 5, 2019</h2>
                    <ul style="list-style-type:disc;">
                        <li>Bachelor of Engineering (CSE)</li>
                        <li>Last Working Day</li>
                      </ul>  
                  </div>
                </div>
              <div class="container right">
                  <div class="contenttype">
                    <h2>March 6, 2019</h2>
                    <ul style="list-style-type:disc;">
                        <!--<li>Won the DHFL Fintech Challenge</li>-->
                        <li>Won the <b style="color:brown">DHFL Fintech Challenge</b>&nbsp;&nbsp;<span class="badge badge-light blink"><a href="https://www.hackerearth.com/challenges/hackathon/dhfl-hackathon" style="color:tomato" target="_blank">view</a></span></li>
                        <li>Awarded with cash prizze of 200000 INR</li>
                        <li>College Management honoured us with a Dinner Party</li>
                      </ul>  
                  </div>
                </div>


                <div class="container left">
                  <div class="contenttype">
                    <h2>October 28, 2018</h2>
                    <ul style="list-style-type:disc;">
                        <li>NPTEL</li>
                        <li>Course - Joy of Computing using Python</li>
                        <li>Elite Certified</li>
                      </ul>
                  </div>
                </div>

                <div class="container right">
                  <div class="contenttype">
                    <h2>July 19, 2018</h2>
                    <ul style="list-style-type:disc;">
                        <li>Infosys Foundation Program</li>
                        <li>Python & MySQL</li>
                        <li>Batch Topper</li>
                      </ul>
                  </div>
                </div>


              <div class="container left">
                <div class="contenttype">
                  <h2>June 5, 2018</h2>
                  <ul style="list-style-type:disc;">
                      <li>NPTEL</li>
                      <li>Course - Introduction to Iot</li>
                    </ul>
                </div>
              </div>
              <div class="container right">
                <div class="contenttype">
                  <h2>July 29, 2017</h2>
                  <ul style="list-style-type:disc;">
                      <li>Microsoft Technical Associate (MTA)</li>
                      <li>Certified .NET programmer</li>
                      <li>Earned "STAR of a WEEK" during trainig</li>
                    </ul>
                </div>
              </div>
              <div class="container left">
                <div class="contenttype">
                  <h2>January 12, 2017</h2>
                  <ul style="list-style-type:disc;">
                      <li>NPTEL</li>
                      <li>Course - Design and Analysis of Algorithm</li>
                    </ul>
                </div>
              </div>
              <div class="container right">
                <div class="contenttype">
                  <h2>June 3, 2016</h2>
                  <ul style="list-style-type:disc;">
                      <li>HP Technical Certificate</li>
                      <li>Basics of Core Java & Android</li>
                    </ul>
                </div>
              </div>
              <div class="container left">
                <div class="contenttype">
                  <h2>2015</h2>
                  <ul style="list-style-type:disc;">
                      <li>Higher Secondary Certification (HSC)</li>
                      <li>K.Kamarajar Matric Hr. Sec. School</li>
                    </ul>
                </div>
              </div>
              <div class="container right">
                <div class="contenttype">
                  <h2>2013</h2>
                  <ul style="list-style-type:disc;">
                      <li>Secondary School Leaving Certification (SSLC)</li>
                      <li>K.Kamarajar Matric Hr. Sec. School</li>
                    </ul>
                  
                </div>
              </div>
            </div>
        </div>
      </div>



      <!---->
      <br>
        <!---->
        


</div>


<div class="container-fluid">
    <br>
    <div class="card bg-light text-dark">
      <div class="card-body">
      <h3 class="card-title" style="font-family: 'Oleo Script', cursive;">Testimonials</h3>
      <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border">
                  <h5 class="card-title" style="font-family: 'Baloo', cursive;">Mr.Perfect</h5>
                  <p class="card-text" style="text-align: justify">He always prefers to be perfect. Also, he wants the persons around him to be perfect. He always motivates them to be perfect.</p>
                      <p class="card-text"><b>Dr.K.Muneeswaran</b><br>
                  <small class="text-muted">Head & Sr. Professor<br>Dept. of CSE<br>Mepco Schlenk Engg. Clg.</small></p>
                </div>
              </div>
        </div>
      
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border">
                  <h5 class="card-title" style="font-family: 'Baloo', cursive;">Responsible Organizer</h5>
                  <p class="card-text" style="text-align: justify">He organizes the Industrial Visit during his UG. He is the most trustful Organizer I have ever seen.</p>
                    <p class="card-text"><b>Mr.C.Balasubramanian</b><br>
                  <small class="text-muted">Asst.Professor(Sr. Grade)<br>Dept. of CSE<br>Mepco Schlenk Engg. Clg.</small></p>
                </div>
              </div>
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border">
                    <h5 class="card-title" style="font-family: 'Baloo', cursive;">Wonderful Co-ordinator</h5>
                  <p class="card-text" style="text-align: justify">He has been acting as an event Co-ordinator for Gyanmitra 2K19. His work has been most appreciable during that period.</p>
                    <p class="card-text"><b>Mrs.M.S.Bhuvaneshwari</b><br>
                  <small class="text-muted">Asst.Professor(Sr. Grade)<br>Dept. of CSE<br>Mepco Schlenk Engg. Clg.</small></p>
                </div>
              </div>
        </div>
      </div>
    <br>
    </div>
    </div>
    </div>

<br>