<div class="container-fluid" id="certification">
  <br>
  <div class="card bg-light text-dark">
    <div class="card-body">
    <h3 class="card-title" style="font-family: 'Oleo Script', cursive;">Certifications</h3>
  <table align="center">
     <tr>
        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Baloo', cursive;">Joy of Computing using Python</h5>
                    <p class="card-text"><small class="text-muted">October 28,2018</small></p>
                    <p class="card-text">NPTEL<br>Elite Certified</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter7">View Certificate</a>


                    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive; color:crimson;">NPTEL - Joy of Computing using Python</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                
                               <img src="assets/images/joyofcomputing.png" width="100%">
                                  
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>   
        </td>
        

        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Baloo', cursive;">Infosys Foundation Program</h5>
                    <p class="card-text"><small class="text-muted">July 19,2018</small></p>
                    <p class="card-text">Python & MySQL<br>Batch Topper</p>
                    
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter8">View Certificate</a>

                    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">Infosys Foundation Program</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <img src="assets/images/infy.png" width="100%">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
        </td>



        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">Introduction to IoT</h5>
                      <p class="card-text"><small class="text-muted">June 5,2018</small></p>
                      <p class="card-text">NPTEL<br>&nbsp;</p>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter9">View Certificate</a>


                      <div class="modal fade bd-example-modal-lg" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">NPTEL - Introduction to Internet of Things</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <img src="assets/images/iot.png" width="100%">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                               
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
        </td>
     </tr>



     <tr>
        <td><br></td>
        <td><br></td>
        <td><br></td>
     </tr>
     



     <tr>
        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">Microsoft Technical Associate</h5>
                      <p class="card-text"><small class="text-muted">July 29,2017</small></p>
                      <p class="card-text">C# and .NET <br>Star of the WEEK</p>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter10">View Certificate</a>

                      <div class="modal fade bd-example-modal-lg" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">Microsoft Technical Associate (MTA)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <img src="assets/images/mta.png" width="100%">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>   
        </td>
        


        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">Analysis of Algorithms</h5>
                      <p class="card-text"><small class="text-muted">January 12,2017</small></p>
                      <p class="card-text">NPTEL<br>Python</p>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter11">View Certificate</a>

                      <div class="modal fade bd-example-modal-lg" id="exampleModalCenter11" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">NPTEL - Design and Analysis of Algorithms</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <img src="assets/images/daa.png" width="100%">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
        </td>
        


        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">HP Technical Certificate</h5>
                      <p class="card-text"><small class="text-muted">June 23,2016</small></p>
                      <p class="card-text">Core Java & Android<br>&nbsp;</p>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter12">View Certificate</a>

                      <div class="modal fade bd-example-modal-lg" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">HP Technical Certificate</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <img src="assets/images/hp.png" width="100%">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
        </td>
     </tr>
     
  </table>
  </div>
  </div>
  </div>
  <br>
  
