<br>
<div class="card bg-light text-dark">
    <table>
       <tr>
          
          <td>
              <div class="card-body">
                    <div class="card" style="width:800px">
                       <div class="card-body border">
                          <h4 class="card-title">Hi! I'm &nbsp;<b style="font-family: 'Merienda', cursive;font-size:35px;color:tomato" data-toggle="tooltip" data-placement="right" title="D.R.V (or) Crazy Venkat">D.R.Venkateshwar</b></h4>
                          <p class="card-text" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;">Currently, I am an Under Graduate Student from Mepco Schlenk Engineering College. I am a developer with a strong user focus. A team player with a can-do attitude, punctuality and a phenomenal time management skills. Apart from being a Developer, I have a special interest in Compost and Green Manure. I love to travel and explore the food around the locality. Love to COOK. Mommy's Boy. Simple yet Thoughtful. Secretive. Quiet unless excited. Has a Reputation. Briyani & Romantic Novel Lovers. SINGLE.</p>
                       </div>
                    </div>
                 </div>
          </td>
                   <td>
            
              <figure class="figure">
                  <img src="assets/images/photo.jpeg" class="figure-img img-fluid rounded" width="75%" style="border-radius: 15px">
                </figure>
              
          </td>
       </tr>
    </table>
    </div>
    <br>   

