<br>
<div class="card bg-light text-dark">
      <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                  <div class="card">
                      <div class="card-body border">
                         <h4 class="card-title">Hi! I'm &nbsp;<b style="font-family: 'Merienda', cursive;font-size:30px;color:tomato" data-toggle="tooltip" data-placement="right" title="D.R.V (or) Crazy Venkat">D.R.Venkateshwar</b></h4>
                         <p class="card-text" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;">Currently, I am an Under Graduate Student from Mepco Schlenk Engineering College. I am a developer with strong userfocus. A team player with a can-do attitude, punctuality and a phenominal time management skills. Apart from being a Developer I have a special interest in Compost and Green Manure. I love to travel and explore the food around the locality. <strong>Love to COOK</strong>. Mommy's Boy. Simple yet Thoughtful. Secretive. Quiet unless excited. Has Reputation. Briyani & Romantic Novel Lovers. SINGLE.</p>
                      </div>
                   </div>
              </div>
              <div class="col">
                  <figure class="figure" style="text-align: center">
                      <img src="/assets/images/2019-04-13-13-22-58-555.jpg" class="figure-img img-fluid rounded" width="75%" style="border-radius: 15px;align-self: center">
                    </figure>
              </div>
            </div>
          </div>  
</div>
<br>   

