<br>
<div class="container-fluid" id="projects">
  <div class="card bg-light text-dark">
    <div class="card-body">
      <h3 class="card-title" style="font-family: 'Oleo Script', cursive;">Projects</h3>
      <table align="center">
    
        <tr>
        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body border">
                    <h5 class="card-title" style="font-family: 'Baloo', cursive;">Tuberculosis Detection</h5>
                    <p class="card-text"><small class="text-muted">Dec 15,2018 - Mar 15,2019</small></p>
                    <p class="card-text">Members&nbsp;: <b>3</b><br>Domain &nbsp;&nbsp;&nbsp;: Image Processing</p>
                    <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter2">Read More</a>


                    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive; color:crimson;">Tuberculosis Detection from Chest X-Rays</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                
                                <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                  This is my Final Year Project. This involves detection of Tuberculosis from the input chest x-ray images. We obtained the dataset from Kaggle. We train a Convolutional Neural Network (CNN) from the obtained X-Ray images. Also by applying various filters like texture based and Image-based we obtain the filtered images. We also use those images for training. By tuning the hyperparameters we able to obtain the Highest Effciency of 91.8%. We also provide a simplified GUI for prediction. User needs to upload the x-ray image. Our model will detect the presence of tuberculosis in the uploaded image with a probability percentage. It can generate a report in the form of Portable Document Format(pdf).</p>

                                  <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify"><u>Technology Stack:</u></p>
                                  <ul style="list-style-type:disc;font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                      <li>Python</li>
                                      <li>Keras, fpdf</li>
                                      <li>Django</li>
                                    </ul>
                                  
                            </div>
                            <div class="modal-footer">
                              <a href="https://github.com/mepcovenkat97/Tb-Detection" target="_blank" id="code" type="submit" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>   
        </td>
        



        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body border">
                    <h5 class="card-title" style="font-family: 'Baloo', cursive;">GUI for Tuning Hyperparameters</h5>
                    <p class="card-text"><small class="text-muted">June 15,2018 - Oct 28,2018</small></p>
                    <p class="card-text">Members&nbsp;: <b>3</b><br>Domain &nbsp;&nbsp;&nbsp;: Web Application</p>
                    
                    <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">Read More</a>



                    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">Web-enabled GUI for tuning hyperparameters</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                
                                <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                  This is my Seventh Semester Project. This involves creating a GUI for tuning Hyperparameters in Image Processing. First, the user needs to log in. After he/she can upload a dataset and choose hyperparameters like no of Convolutional Layers, Activation Function, No.of hidden layers, No.of Output Layers etc. Once chosen training will be carried out in the server side. Once training completed the user is notified with the Accuracy percentage and the Loss percentage. Also, the user can able to download the corresponding weight file and the model file in the form of HDF5 format.
                                  <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify"><u>Technology Stack:</u></p>
                                  <ul style="list-style-type:disc;font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                      <li>Python</li>
                                      <li>Keras</li>
                                      <li>Django</li>
                                    </ul>
                                  
                            </div>
                            <div class="modal-footer">
                              <a href="https://github.com/mepcovenkat97/Web-based-GUI-for-Tuning-CNN-Parameters" target="_blank" id="code" type="submit" class="btn btn-primary">View Project</a>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
        </td>
        



        <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body border">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">E-Employment Exchange</h5>
                      <p class="card-text"><small class="text-muted">Jan 15,2018 - Apr 28,2018</small></p>
                      <p class="card-text">Members&nbsp;: <b>2</b><br>Domain &nbsp;&nbsp;&nbsp;: Web Application</p>
                      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter3">Read More</a>

                      <div class="modal fade bd-example-modal-lg" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">E-Employment Exchange</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  
                                  <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                    This is similar to Job Searching site (i.e. naukri.com). Here two different users. One is job seeker and another one is a job provider. Here the job provider will post about the vacancy in their company. Such kind of posts from multiple Job provider will be posted in the seeker dashboard. From that he/she can able to apply to a suitable job. The corresponding employer will be notified about the applicants. They can review their profile and shortlist them for a personal interview.</p>
                                    
                                    <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify"><u>Technology Stack:</u></p>
                                  <ul style="list-style-type:disc;font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                      <li>C# with MVC Framework</li>
                                      <li>IIS Server</li>
                                      <li>MS-SQL</li>
                                    </ul>
                                    
                              </div>
                              <div class="modal-footer">
                                <a href="https://github.com/mepcovenkat97/E-Employment-Exchange" target="_blank" id="code" type="submit" class="btn btn-primary">View Project</a>                            
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
        </td>
        </tr>


        <tr>
        
        <td><br></td>
        
        <td><br></td>
       
        <td><br></td>
        </tr>




        <tr>
              <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body border">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">Automatic Doorbell with<br>with Varying Intensity</h5>
                      <p class="card-text"><small class="text-muted">March 15,2017 - April 02,2017</small></p>
                      <p class="card-text">Members&nbsp;: <b>2</b><br>Domain &nbsp;&nbsp;&nbsp;: Microcontroller Projects</p>
                      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter4">Read More</a>


                      <div class="modal fade " id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive;color:crimson;">Automatic Doorbell </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  
                                  <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                  This is one of my Mini Project done for my Microprocessor Laboratory. Here automatic doorbell is the task. We use a sensor to detect the presence of Guest in our doorstep. Once detected we calculate the distance using an Ultra Sonic Sensor. Based on the distance, the Intensity of the alarm varies.</p>
                                    <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify"><u>Technology Stack:</u></p>
                                  <ul style="list-style-type:disc;font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                      <li>Arduino</li>
                                      <li>Infra-Red Sensor</li>
                                      <li>Ultasonic Sensor</li>
                                    </ul>
                                    
                              </div>
                              <div class="modal-footer">
                              <button type="button" href="#" class="btn btn-primary" disabled>Sorry Source Code Unavailable</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>   
              </td>
        



              <td>
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body border">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">Intra-college Seminar Hall <br>Booking</h5>
                      <p class="card-text"><small class="text-muted">June 15,2017 - June 23,2017</small></p>
                      <p class="card-text">Members&nbsp;: <b>2</b><br>Domain &nbsp;&nbsp;&nbsp;: Web Application</p>
                      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter5">Read More</a>


                      <div class="modal fade " id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">
                                   <div class="modal-header">
                                     <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive; color:crimson;">Intra-college Online Seminar Hall Booking </h5>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                     </button>
                                   </div>

                                   <div class="modal-body">    
                                       <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                       This is a Mini Project done for my Value Added Course. Here the seminar has to be booked through online. There are multiple seminar halls inside a campus. Those details are listed in the Home Page. If available the official Office Bearer can book with an appropriate reason.</p>
                                         <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify"><u>Technology Stack:</u></p>
                                         <ul style="list-style-type:disc;font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                           <li>Ruby (HTML & CSS)</li>
                                           <li>Rails Framework</li>
                                           <li>MySQL</li>
                                         </ul>      
                                   </div>

                                  <div class="modal-footer">
                                    <button type="button" href="#" class="btn btn-primary" disabled>Sorry Source Code Unavailable</button>
                                  </div>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              </td>
        




              <td>
               <div class="col-sm-12">
                <div class="card">
                  <div class="card-body border">
                      <h5 class="card-title" style="font-family: 'Baloo', cursive;">E-Shopping Database<br>Management (CLI)</h5>
                      <p class="card-text"><small class="text-muted">March 2,2017 - April 2,2017</small></p>
                      <p class="card-text">Members&nbsp;: <b>2</b><br>Domain &nbsp;&nbsp;&nbsp;: Command-Line Interface</p>
                      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter6">Read More</a>


                      <div class="modal fade " id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered " role="document">
                           
                            <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive; color:crimson;">E-Shopping Database Management </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>

                                  <div class="modal-body">
                                      <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                      This is my first Mini Project . It is a command Line Application. Here Various menus like Inserting a new Product and Updating the Stock will be Listed. By selecting the appropriate menu along with certain inputs like Product ID and Name corresponding actions will be performed and the updated results will be listed.</p>
                                        <p style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify"><u>Technology Stack:</u></p>
                                        <ul style="list-style-type:disc;font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify">
                                          <li>Java</li>
                                          <li>Oracle 11G</li>
                                        </ul>
                                  </div>

                                  <div class="modal-footer">
                                    <button type="button" href="#" class="btn btn-primary" disabled>Sorry Source Code Unavailable</button>
                                  </div>
                            </div>

                          </div>
                        </div>
                  </div>
                </div>
               </div>
              </td>
        </tr>
      
      </table>
      <br>
    </div>
  </div>
</div>
<br>

