
<div class="container-fluid" id="about">
  <br>
  <div class="card bg-light text-dark">
      <div class="card-body">
              
            <div class="row">
                
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                               <h4 class="card-title" style="font-family: 'Oleo Script', cursive;"><b>Public Profiles</b></h4>
                               <div class="content">
                                   <table class="table table-striped">
                                      <tr>
                                        <td><label class="green-text text-lighten-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://img.icons8.com/color/48/000000/linkedin.png"></label></td>
                                        <td><label class="blue-text text-darken-2" id="name" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;"> <a href="https://linkedin.com/in/d-r-venkateshwar-500b98114/" target="_blank">mepcovenkat97</a></label></td>
                                      </tr>
                                      <tr>
                                        <td><label class="green-text text-lighten-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://img.icons8.com/windows/52/000000/instagram-new.png"></label></td>
                                        <td><label class="blue-text text-darken-2" id="age" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;"><a href="https://instagram.com/craze_venkat/" target="_blank">craze_venkat</a></label></td>
                                      </tr>
                                      <tr>
                                        <td><span class="green-text text-lighten-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://img.icons8.com/windows/52/000000/github.png"></span></td>
                                        <td><span class="blue-text text-darken-2" id="gender" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;"><a href="https://github.com/mepcovenkat97" target="_blank">mepcovenkat97</a></span></td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                         </div>
                    </div>
    
    
                    <div class="col-sm-4">
                            <div class="card">
                               <div class="card-body">
                                  <h3 class="card-title" style="font-family: 'Oleo Script', cursive;"><b>Contact Me!</b></h3>
                                  <div class="content">
                                      <table class="table table-striped" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;" align="center">
                                         <tr>
    
                                           <td><label class="green-text text-lighten-1" ></label></td>
                                           <td><label class="blue-text text-darken-2" id="name">D.R.Venkateshwar</label></td>
    
                                         </tr>
                                         <tr>
    
                                           <td><label class="green-text text-lighten-1"></label></td>
                                           <td><label class="blue-text text-darken-2" id="age">+91-9585217654</label></td>
    
                                         </tr>
                                         <tr>
                                           <td><label class="green-text text-lighten-1"></label></td>
                                           <td><label class="blue-text text-darken-2" id="gender">mepcovenkat97@gmail.com</label></td>
                                         </tr>
                                         <tr>
                                           <td></td>
                                         </tr>
    
                                       </table>
                                   </div>
                               </div><!-- CArd Body-->
                            </div><!-- CArd-->
                          
                      </div><!--2nd Col-->
    
                      <div class="col-sm-4">
                          <div class="card">
                              <div class="card-body">
                                 <h3 class="card-title" style="font-family: 'Oleo Script', cursive;"><b>Post Me!</b></h3>
                                 <div class="content">
                                  <p style="font-family: 'Muli', sans-serif;line-height: 21pt;text-align: center;"><br>
                                    D.R.Venkateshwar<br>S/o A.D.Ranjith Singh<br>2/2344 - 'B'&nbsp;&nbsp;&nbsp;Kayambu Nagar<br>Sivakasi&nbsp;-&nbsp;626123<br>Tamil&nbsp;Nadu<br><br></p>
                                 </div>
                              </div>
                           </div>
                      </div><!--3rd Col-->
              </div>
            </div>
  </div>
</div>
<br>

