
<div class="container-fluid" id="about">
  <br>
  <div class="card bg-light text-dark">
    <table align="inherit">
     <tr>
        <td>
            <div class="card-body">
                <div class="card" style="width:450px">
                   <div class="card-body">
                      <h4 class="card-title" style="font-family: 'Oleo Script', cursive;"><b>Contact Me</b></h4>
                           <div class="content">
                                   <table class="table table-striped">
                                      <tr>
                                        <td><label class="green-text text-lighten-1"><img src="https://img.icons8.com/color/48/000000/linkedin.png"></label></td>
                                        <td><label class="blue-text text-darken-2" id="name" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;"> <a href="https://linkedin.com/in/d-r-venkateshwar-500b98114/" target="_blank">mepcovenkat97</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                                      </tr>
                                      <tr>
                                        <td><label class="green-text text-lighten-1"><img src="https://img.icons8.com/windows/52/000000/instagram-new.png"></label></td>
                                        <td><label class="blue-text text-darken-2" id="age" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;"><a href="https://instagram.com/craze_venkat/" target="_blank">craze_venkat</a></label></td>
                                      </tr>
                                      <tr>
                                        <td><span class="green-text text-lighten-1"><img src="https://img.icons8.com/windows/52/000000/github.png"></span></td>
                                        <td><span class="blue-text text-darken-2" id="gender" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;"><a href="https://github.com/mepcovenkat97" target="_blank">mepcovenkat97</a></span></td>
                                      </tr>
                                    </table>
                           </div>
                   </div>
                </div>
             </div>
        </td>
        
        <td>
              <div class="card-body">
                          <div class="card" style="width:700px">
                                      <div class="card-body">
                                         <h3 class="card-title" style="font-family: 'Oleo Script', cursive;"><b>About Me!</b></h3>
                                                <div class="content">
                                                        <table class="table table-striped" style="font-family: 'Muli', sans-serif;line-height: 26pt;text-align: justify;">
                                                           <tr>
                                                              <td></td>
                                                              <td></td>
                                                              <td><label class="green-text text-lighten-1" >Name &nbsp;&nbsp;&nbsp;&nbsp; : </label></td>
                                                              <td><label class="blue-text text-darken-2" id="name">D.R.Venkateshwar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                                                              <td></td>
                                                           </tr>
                                                           <tr>
                                                              <td></td>
                                                              <td></td>
                                                              <td><label class="green-text text-lighten-1">Mobile   &nbsp;&nbsp;&nbsp;&nbsp; : </label></td>
                                                              <td><label class="blue-text text-darken-2" id="age">+91-9585217654, +91-9445477878</label></td>
                                                              <td></td>
                                                           </tr>
                                                           <tr>
                                                              <td></td>
                                                              <td></td>
                                                              <td><span class="green-text text-lighten-1">E-Mail &nbsp;&nbsp;&nbsp;&nbsp;  : </span></td>
                                                              <td><span class="blue-text text-darken-2" id="gender">mepcovenkat97@gmail.com</span></td>
                                                              <td></td>
                                                           </tr>
                                                        </table>
                                                 </div>
                                                
                                                 <a href="#" class="justify-content-end" data-toggle="modal" data-target="#exampleModalCenterBio"><span class="badge badge-pill badge-warning blink">Post Me !</span></a>
              
                                                           <div class="modal fade bd-example-modal-lg" id="exampleModalCenterBio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                                         <div class="modal-content">
                                                                                     <div class="modal-header">
                                                                                       <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Fredoka One', cursive; color:crimson;">Postal Details</h5>
                                                                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                         <span aria-hidden="true">&times;</span>
                                                                                       </button>
                                                                                     </div>
                                                                                
                                                                                      <div class="modal-body">   
                                                                                      <p style="font-family: 'Muli', sans-serif;line-height: 21pt;text-align: center;">
                                                                                      D.R.Venkateshwar<br>S/o A.D.Ranjith Singh<br>2/2344 - 'B'&nbsp;&nbsp;&nbsp;Kayambu Nagar<br>Sivakasi&nbsp;-&nbsp;626123<br>Tamil&nbsp;Nadu</p>      
                                                                                      </div>
                                                 
                                                                                     <div class="modal-footer">
                                                                                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                     </div>
                                                                         </div>
                                                                 </div>
                                                          </div>
                                      </div><!--card Body Below Width-->
              
                          </div>
                       </div><!--card Body in 2nd Colm-->
        </td>
     </tr> 
    </table>
  </div>
</div>
<br>

