<div class="container-fluid" id="skills">
  <br>
  <div class="card bg-light text-dark">
    <div class="card-body">
    <h3 class="card-title" style="font-family: 'Oleo Script', cursive;">Skills</h3>
    <div class="row">
        <div class="col-sm-3">
          <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">C</h5>
                <div class="progresscontainer ">
                    <div class="skills c">80%</div>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">C++</h5>
                  <div class="progresscontainer">
                      <div class="skills cpp">90%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Java</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills java">90%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Python</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills python">85%</div>
                    </div>
                </div>
              </div>
        </div>
      </div><!--End of Row-->
      <div class="row"><div class="col">&nbsp;</div></div>
      <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Django</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills django">70%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Perl</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills perl">80%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">HTML</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills html">81%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">CSS</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills css">75%</div>
                    </div>
                </div>
              </div>
        </div>
      </div><!--End of Row 2-->
      <div class="row"><div class="col">&nbsp;</div></div>
      <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">MySql</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills mysql">85%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">MS-SQL</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills mssql">70%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body" >
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Ubuntu</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills ubuntu">80%</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Fedora</h5>
                  
                  <div class="progresscontainer">
                      <div class="skills fedora">70%</div>
                    </div>
                </div>
              </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  <br>