<div class="container-fluid" id="skills">
  <br>
  <div class="card bg-light text-dark">
    <div class="card-body">
    <h3 class="card-title" style="font-family: 'Oleo Script', cursive;">Skills</h3>
  <table align="center">
     <tr>
        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">C</h5>
                    
                    <div class="progresscontainer ">
                        <div class="skills c">60%</div>
                      </div>
                  </div>
                </div>
              </div>   
        </td>
        
        

        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">C++</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills cpp">70%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>
        
        

        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Java</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills java">65%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>


        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Python</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills python">65%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>
     </tr>



     <tr>
        <td><br></td>
        <td><br></td>
        <td><br></td>
     </tr>
     
     

     <tr>
        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Django</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills django">60%</div>
                      </div>
                  </div>
                </div>
              </div>   
        </td>
        


        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Perl</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills perl">60%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>
        

        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">HTML</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills html">70%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>

        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">CSS</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills css">65%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>
     </tr>



     <tr>
        <td><br></td>
        <td><br></td>
        <td><br></td>
     </tr>
     


     
     <tr>
      
        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">MySql</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills mysql">75%</div>
                      </div>
                  </div>
                </div>
              </div>   
        </td>
        

        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">MS-SQL</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills mssql">70%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>
        

        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Ubuntu</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills ubuntu">80%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>


        <td>
            <div class="col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Fredoka One', cursive;">Fedora</h5>
                    
                    <div class="progresscontainer">
                        <div class="skills fedora">70%</div>
                      </div>
                  </div>
                </div>
              </div>
        </td>
     </tr>
     
  </table>

  </div>
  </div>
  </div>
  <br>