<!--The content below is only a placeholder and can be replaced.-->
  <nav id="navbar navbar-fixed-top">
    <!--div class="inner ">-->
        <ul class="nav justify-content-end my-sm-2 " style="color:whitesmoke;font-family: 'Oleo Script', cursive;font-size: 25px">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/aboutme">D.R.V</a>
            </li>
            <li></li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects">Project</a>
            </li>
            <li></li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/skills">Skills</a>
            </li>
            <li></li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/certification">Certification</a>
            </li>
            <li></li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/others">Others</a>
            </li>
            <li></li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/contact">Contact Me</a>
            </li>
            <li></li>
            <li class="nav-item">
               <a class="nav-link " href="assets/Res_v3.pdf" target="_blank" style="font-family: 'Orbitron', sans-serif;"><span class="badge badge-pill badge-light" style="color:#2196F3;font-family: 'Oleo Script', cursive;font-size: 25px">Resume</span></a>
             </li>
             <li><a> &nbsp;&nbsp;&nbsp; </a></li>
          </ul>
    <!-- </div>-->
  </nav>

  <div class="container-fluid" id="drv">
<router-outlet> 
</router-outlet>
</div>

<div class="footer" style="background-color: #474e5d">
  <div class="">
      <p style="color:cyan;font-family: 'Oleo Script', cursive;font-size: 25px;text-align: center">&copy; Crafted by <a class="" href="index.html">D.R.Venkateshwar</a></p>
    </div>
</div> 
<br>